<footer>
    <div class="container">
        <div class="copyright">
            ©2014 <span class="copyright--bold">tulus</span>driyo. All Rights Reserved.
        </div>
        <div class="our-team__slider__socials">
            <a href="https://www.behance.net/" target="_blank" class="our-team__slider__link" rel="noreferrer" aria-label="behance">
                <svg>
                    <use xlink:href='#behance' />
                </svg>
            </a>
            <a href="https://www.linkedin.com/" target="_blank" class="our-team__slider__link" rel="noreferrer" aria-label="linkedin">
                <svg>
                    <use xlink:href='#linked-in' />
                </svg>
            </a>
            <a href="https://uk.wikipedia.org/wiki/Google%2B" target="_blank" class="our-team__slider__link" rel="noreferrer" aria-label="google">
                <svg>
                    <use xlink:href='#google' />
                </svg>
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="our-team__slider__link" rel="noreferrer" aria-label="facebook">
                <svg>
                    <use xlink:href='#facebook' />
                </svg>
            </a>
            <a href="https://twitter.com/" target="_blank" class="our-team__slider__link" rel="noreferrer" aria-label="twitter">
                <svg>
                    <use xlink:href='#twitter' />
                </svg>
            </a>
        </div>
    </div>
</footer>