@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	line-height: 2.1;
	font-family: ProximaNova;
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.header {
	height: 100vh;
	background-image: url("../img/DeathtoStock_Wired7.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #9f9acf;
	padding-top: 35px;
	color: #fff;
	text-align: center;
	&__logo {
		outline: none;
		&:hover,
		&:focus,
		&:active {
			transform: scale(1.2);
			transition: all .4s linear;
		}
	}
	&__title {
		font-size: 4rem;
		text-transform: uppercase;
		margin: 0;
		line-height: 1.3;
	}
	&__text {
		font-size: 1.6rem;
		font-style: italic;
		margin: 0 auto;
		width: 60%;
		line-height: 1.3;
		margin-top: 10px;
		font-family: 'PT Sans', sans-serif;
	}
	&__info {
		margin: auto;
		margin-top: -5%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

// HAMBURGER
.visuallyHidden {
    position: fixed; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
	position: relative;
	right: 15px;
	display: block;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #7d7a7c;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox__label {
	position: fixed;
	right: 15px;
	top:0;
	z-index: 7;
	display: none;
}

.checkbox:checked + label > .hamburger > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox:checked + label > .hamburger > .bar2{
    transform: rotate(45deg);
}

.checkbox:checked + label > .hamburger > .bar3{
    transform: rotate(-45deg);
}

.checkbox:checked + label > .hamburger > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

// END HAMBURGER

.btn {
	width: 195px;
	height: 50px;
	display: inline-block;
	text-decoration: none;
	text-transform: capitalize;
	border: 1px solid #7d7a7c;
	text-align: center;
	line-height: 48px;
	font-style: italic;
	color: #7d7a7c;
	margin: 0 auto;
	&:hover,
	&:focus,
	&:active {
		transition: all .4s linear;
		background-color: #7d7a7c;
		color: #fff;
	}
}

.container {
	width: 80%;
	max-width: 1440px;
	margin: auto;
	.about & {
		display: flex;
		justify-content: space-between;
	}
	.header & {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.contacts & {
		position: relative;
	}
	footer & {
		display: flex;
		flex-direction: row;
		height: 180px;
		justify-content: space-between;
		align-items: center;
	}
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.3rem;
	width: 100%;
	position: relative;
    // z-index: 1000;
	&__menu {
		display: inline-block;
		width: 50%;
	}
	&__menu__items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px;
		margin: 0;
	}
	&__menu__item {
		display: inline-block;
		&--link {
			color: #fff;
			text-transform: uppercase;
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				bottom: 0;
				width: 0;
				height: 1px;
				background-color: #fff;
				left: 0;
			}
		}
		&--link:hover:after,
		&--link:focus:after,
		&--link:active:after {
			width: 100%;
			transition: all .5s linear;
 		}
	}
}

.about {
	padding-top: 125px;
	padding-bottom: 125px;
	&__card {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 2rem;
		background-image: url("../img/DeathtoStock_Wired8.webp");
		background-size: cover;
		background-color: #9f9acf;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		color: #fff;
		width: 380px;
		max-width: 100%;
		height: 60vh;
		min-height: 560px;
		&:hover {
			transform: rotateY(180deg);
			transition: transform 1s ease-in-out;
			& .about__title {
				font-size: 0;
				margin-top: 50%;
				&:before {
					transform: translate(-50%, -50%) scale(2.5);
					transition: transform .8s ease-in;
				}
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		margin: 75px 0 0;
		width: 60%;
	}
	&__text {
		font-family: 'PT Sans', sans-serif;
		margin-bottom: 30px;
		padding: 10px;
		line-height: 1.2;
		color: #665f60;
		&--bold {
			font-weight: bold;
		}
		&--ital {
			font-style: italic;
		}
	}
	&__title {
		font-size: 2rem;
		position: relative;
		margin-top: 40%;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: -50%;
    		left: 50%;
   			transform: translate(-50%, -50%);
			background-image: url('../img/spritesheet.png');
			background-position:-5px -5px;
			width: 50px;
			height: 54px;
		}
	}
	&__btn {
		margin-top: 65px;
		margin-bottom: 100px;
	}
}

.our-services {
	&__wrap {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		-ms-grid-rows: 1fr 1fr;
		min-height: 80vh;
	}
	&__card {
		color: #665f60;
		font-family: 'PT Sans', sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #dbdbdb;
		padding-top: 80px;
		padding-bottom: 140px;
		&:nth-of-type(2n+1){
			background-color: #ebebeb;
		}
		&:nth-of-type(2) {
			-ms-grid-column: 2;
		}
	
		&:nth-of-type(4) {
			-ms-grid-column: 1;
			-ms-grid-row: 2;
		}
		&:nth-of-type(5) {
			-ms-grid-column: 2;
			-ms-grid-row: 2;
		}
		&--main {
			grid-row-start: 1;
			grid-row-end: 3;
			grid-row: 1 3;
			grid-column: 3;
			-ms-grid-column: 3;
			-ms-grid-row-span: 2;
			color: #fff;
			background-color: #9f9acf !important;
			justify-content: flex-start;
			background-image: url('../img/unsplash_523ae1f5502d6_1.webp');
			background-repeat: no-repeat;
			background-size: cover;
			& .our-services__title {
				font-size: 2rem;
				line-height: 2rem;
				font-family: ProximaNova;
			}
		}
		&:hover {
			transform: rotateY(180deg);
			transition: transform 1s ease-in-out;
			& .our-services__text {
				transform: scaleX(-1);
			}
			& .our-services__title {
				transform: scaleX(-1);
				&:before {
					transform: translate(-50%, -140%) scale(1.5);
					transition: transform .8s ease-in;
				}
			}
		}
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__title {
		font-size: 1.3rem;
		line-height: 1.3rem;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		margin-top: 95px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: -50%;
    		left: 50%;
			transform: translate(-50%, -150%);
		}
		&--graphic:before {
			background-image: url('../img/spritesheet.png');
			background-position:-113px -5px;
			width: 47px;
			height: 61px;
		}
		&--web:before {
			background-image: url('../img/spritesheet.png');
			background-position:-183px -75px;
			width: 58px;
			height: 59px;
		}
		&--seo:before {
			background-image: url('../img/spritesheet.png');
			background-position:-51px -76px;
			width: 50px;
			height: 61px;
		}
		&--mobile:before {
			background-image: url('../img/spritesheet.png');
			background-position:-5px -76px;
			width: 36px;
			height: 61px;
		}
		&--main:before {
			background-image: url('../img/spritesheet.png');
			background-position:-111px -76px;
			width: 62px;
			height: 60px;
		}
	}
	&__text {
		font-size: 1rem;
		font-style: italic;
		line-height: 1.3;
		text-align: center;
		width: 60%;
		margin: 0;
		&--bold {
			display: block;
			font-weight: bold;
		}
	}
}

.recent-works {
	text-align: center;
	background-image: url('../img/DeathtoStock_Wired3.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #9f9acf;
	padding-top: 130px;
	&__title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 2rem;
		text-align: center;
		color: #fff;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: auto;
    		left: 50%;
			transform: translate(-50%, -150%);
			background-image: url('../img/spritesheet.png');
			background-position:-183px -144px;
			width: 40px;
			height: 60px;
		}
	}
	&__slider{
		position: relative;
		&__item {
			width: 45%;
			margin: auto
		}
		& .owl-nav {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			display: flex;
			justify-content: space-between;
			font-size: 0;
			outline: none;
			& .owl-prev:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				background-image: url('../img/arrow-left.svg');
				background-position: center;
				width: 30px;
    			height: 50px;
    			background-repeat: no-repeat;
			}
			& .owl-next:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				background-image: url('../img/arrow-right.svg');
				background-position: center;
				width: 30px;
    			height: 50px;
    			background-repeat: no-repeat;
			}
		}
		& .owl-dots {
			margin: 25px 0;
			& .owl-dot {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: transparent;
				margin: 3px;
				&.active {
					background-color: #fff;
				}
			}
		}
	}
	&__btn {
		margin-bottom: 60px;
		color: #fff;
		border-color: #fff;
	}
}

.our-team {
	background-color: #ebebeb;
	padding-top: 130px;
	&__title {
		text-transform: uppercase;
		text-align: center;
		color: #665f60;
		font-weight: 600;
		font-size: 2rem;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: auto;
    		left: 50%;
			transform: translate(-50%, -150%);
			background-image: url('../img/spritesheet.png');
			background-position: -170px -5px;
			width: 60px;
			height: 60px;
		}
	}
	&__slider {
		position: relative;
		&__item {
			text-align: center;
			height: 500px;
			max-width: 320px;
			margin: auto;
		}
		&__info {
			margin-top: 120px;
			position: relative;
			padding-top: 160px;
			padding-bottom: 50px;
			background-color: #ffffff;
		}
		&__img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 235px !important;
			height: 235px;
			border-radius: 50%;
			border: 10px solid #ebebeb;
			background-position: center;
		}
		&__title {
			color: #9f9acf;
			font-size: 1.3rem;
			margin-bottom: 0;
			font-weight: bold;
			text-transform: uppercase;
			}
		&__text {
			margin: 0;
			color: #665f60;
			font-style: italic;
		}
		&__socials {
			height: 70px;
			background-color: #9f9acf;
			display: flex;
			justify-content: center;
			align-items: center;
			footer & { 
				height: auto;
			}
		}
		&__link {
			height: 30px;
			width: 30px;
			display: inline-block;
			background-color: #fff;
			margin: 0 5px;
			border-radius: 50%;
			position: relative;
			& > svg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: #9f9acf;
				fill: rgba(255,255,255, 1);
			}
			&:hover,
			&:focus,
			&:active {
				& > svg {
					fill: rgba(255,255,255, .5);
					transition: all .2s ease-in;
				}
			}
		}

		& .owl-nav {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 110%;
			display: flex;
			justify-content: space-between;
			font-size: 0;
			outline: none;
			& .owl-prev:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				background-image: url('../img/arrow-prev-dark.svg');
				background-position: center;
				width: 30px;
    			height: 50px;
				background-repeat: no-repeat;
			}
			& .owl-next:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				background-image: url('../img/arrow-next-dark.svg');
				background-position: center;
				width: 30px;
    			height: 50px;
    			background-repeat: no-repeat;
			}
		}
	}
}

.contacts {
	background-color: rgba(159, 154, 207, 1);
	padding-top: 100px;
	position: relative;
	position: relative;
	overflow: hidden;
	#map {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: .5;
	}
	&__title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 2rem;
		text-align: center;
		color: #fff;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: auto;
    		left: 50%;
			transform: translate(-50%, -110%);
			background-image: url('../img/spritesheet.png');
			background-position: -240px -5px;
			width: 42px;
			height: 60px;
		}
	}
	&__contacts {
		color: #665f60;
		font-family: 'PT Sans', sans-serif;
		& p {
			color: inherit;
			margin: 0;
			line-height: 1.2;
			text-align: center;
		}
		& > div {
			width: 250px;
			height: 90px;
			background-color: rgba(255,255,255, .5);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-left: 90px;
			position: relative;
			left: calc(100% - 90px);
			&:hover {
				transform: translate(-250px,0);
				transition: transform .6s ease-in-out;
			}
			&:before {
				content: "";
				width: 90px;
				height: 90px;
				background-color: #9f9acf;
				display: inline-block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(-100%, -50%);
			}
		}
	}
	&__adress:before {
		background: url('../img/Icon-Address.png') no-repeat center;
	}
	&__tel:before {
		background: url('../img/Layer 8.png') no-repeat center;
	}
	&__form {
		margin: auto;
		text-align: center;
		width: 80%;
		margin-top: 40px;
		position: relative;
		z-index: 1;
	}
	&__input {
		font-style: italic;
		font-family: 'PT Sans', sans-serif;
		font-size: 1rem;
		padding: 20px;
		border-radius: 5px;
		outline: none;
		border: none;
		background-color: rgba(255,255,255,.5);
		margin-bottom: 30px;
		color: #fff;
		position: relative;
		@include placeholder {
    		text-indent: 0px;
			transition: text-indent 300ms;
			color: #fff;
  		}
  
  		&:focus {
    		@include placeholder {
      			text-indent: -1000px;
    		}
		 }
		&--name {
			float: left;
			width: 47%;
		}
		&--email {
			float: right;
			width: 47%;
		}
		&--message {
			width: 100%;
			height: 200px;
			resize: none;
			-ms-overflow-y: hidden;
		}

	}
	&__button {
		font-weight: bold;
		color: #fff;
		font-size: 1.1rem;
		text-transform: uppercase;
		width: 290px;
		height: 68px;
		box-shadow: 0 4px 0 0 #8783b0;
		border: none;
		outline: none;
		border-radius: 5px;
		background-color: #9f9acf;
		margin-bottom: 55px;
		cursor: pointer;
		&:hover,
		&:focus,
		&:active {
			transform: scale(1.1);
			transition: translate .4s ease-in;
		}
	}
	&__back {
		display: inline-block;
		width: 85px;
		height: 85px;
		background-color: rgba(135,131,176,.5);
		position: absolute;
		bottom: 10%;
		right: 0;
		background-image: url('../img/arrow-left.svg');
		background-repeat: no-repeat;
		background-position: center;
		transform: rotate(90deg);
		z-index: 1;
	}
}

footer {
	background-color: #9f9acf;
	font-size: 1rem;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	& .container >div {
		display: inline-block;
	}
	& .copyright {
		&--bold {
			font-weight: bold;
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.recent-works {
		background-image: url('../img/DeathtoStock_Wired3.png');
	}
	.header {
		background-image: url("../img/DeathtoStock_Wired7.png");
	}
    .our-services__text {
		max-width: 60%;
	}
	.our-services__title {
		max-width: 100%;
	}
	.our-services__block {
		max-width: 100%;
	}
	.about__card {
		background-image: url("../img/DeathtoStock_Wired8.png");
	}
	.our-services__card--main {
			background-image: url('../img/unsplash_523ae1f5502d6_1.png');
	}
}

@media screen and (max-width: 991px) {
	.navbar {
		font-size: 1.1rem;
	}
	.container {
		width: 90%;
	}
	.header__title {
		font-size: 3.2rem;
		line-height: 1.3;
		max-width: 100%;
	}
	.header__text {
		font-size: 1.2rem;
	}
	.about {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about__card {
		
	}
	.about__info {
		margin: 0;
	}
	.our-team__slider .owl-nav {
		width: 105%;
	}
}

@media screen and (max-width: 768px) {
	.navbar__menu {
		width: 70%;
	}
	.about__btn {
		margin-top: 0;
		margin-bottom: 0;
	}
	.about__text {
		margin-bottom: 10px;
		font-size: .9rem;
	}
	.our-services__wrap {
	grid-template-columns: 1fr 1fr;
	-ms-grid-columns: 1fr 1fr;
		-ms-grid-rows: 1fr 1fr 1fr;
	}
	.our-services__card {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.our-services__card:first-of-type {
			-ms-grid-column: 1;
			-ms-grid-row: 2;
		}
	.our-services__card:nth-of-type(2) {
			-ms-grid-column: 2;
			-ms-grid-row: 2;
		}
	
		.our-services__card:nth-of-type(4) {
			-ms-grid-column: 1;
			-ms-grid-row: 3;
		}
		.our-services__card:nth-of-type(5) {
			-ms-grid-column: 2;
			-ms-grid-row: 3;
		}
		.our-services__card--main {
			grid-row-start: 1;
			grid-row-end: 1;
			grid-column: 2;
			-ms-grid-column-span: 1;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
		}
	.our-services__card--main {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	}
	.our-services__text {
		width: 80%;
	}
	.recent-works__slider__item {
		width: 80%;
	}
	.recent-works__slider .owl-nav {
		width: 90%;
	}
	footer .container>div {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 576px) {
	.navbar__menu {
		width: 85%;
	}
	.container {
		width: 99%;
	}
	.about .container {
			flex-wrap: wrap;
			justify-content: center;
	}
	.about__card {
		width: 80%;
		min-height: 40vh;
	}
	.about__info {
		width: 80%;
	}
	.contacts__input {
		width: 100%;
	}
	.recent-works__slider__item {
    width: 100%;
	}
	.recent-works,
	.our-team {
		padding-top: 80px;
	}
	footer .container>div:first-of-type {
		margin-bottom: 20px;
	}
	footer .container {
		height: 120px;
		flex-direction: column;
		justify-content: center;
	}
}

@media screen and (max-width: 414px) {
	.header {
		padding-top: 15px;
	}
	.header__logo {
		margin: 15px;
	}
	.navbar__menu {
		opacity: 0;
		transition: all .7s ease;
		z-index: -1;
	}
	.navbar__menu__items {
		flex-direction: column;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		background-color: #9f9acf;
		width: 100%;
		z-index: 5;
		top: -5px;
	}
	.checkbox__label {
		display: block;
	}

	.visual-opacity {
		opacity: 1;
		z-index: 5;
	}
	.our-services__wrap {
		grid-template-columns: 1fr;
		-ms-grid-columns: 1fr;
		-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
	}
	.our-services__card:first-of-type {
		-ms-grid-column: 1;
		-ms-grid-row: 2;
	}
.our-services__card:nth-of-type(2) {
		-ms-grid-column: 1;
		-ms-grid-row: 3;
	}

	.our-services__card:nth-of-type(4) {
		-ms-grid-column: 1;
		-ms-grid-row: 5;
	}
	.our-services__card:nth-of-type(5) {
		-ms-grid-column: 1;
		-ms-grid-row: 4;
	}
	.our-services__card--main {
		-ms-grid-column-span: 1;
		-ms-grid-row: 1;
		grid-column-end: 2;
	}
	.our-services__card {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.our-services__card:nth-of-type(3) {
		order:2;
	}
	.our-services__card:nth-of-type(4) {
		order:1;
	}
	.our-services__text {
		width: 90%;
	}
	.contacts__contacts > div {
			width: 220px;
	}
	.contacts__contacts > div:hover {
		transform: translate(-220px,0);
	}
	.contacts__button {
		width: 90%;
	}
}